<body>
	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '210396172671753',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	</script>
	<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '210396172671753',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.5' // use graph api version 2.5
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }
</script>

<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="login" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 481 800" enable-background="new 0 0 481 800" xml:space="preserve">
<pattern  width="682.6" height="707.7" patternUnits="userSpaceOnUse" id="Unnamed_Pattern" viewBox="0 -800.7 682.6 707.7" overflow="visible">
	<g>
		<rect y="-800.7" fill="none" width="682.6" height="707.7"/>
		<g>
			<defs>
				<rect id="SVGID_1_" y="-800.7" width="682.6" height="707.7"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  overflow="visible"/>
			</clipPath>
			
				<rect x="93" y="-250.5" transform="matrix(0.6992 -0.7149 0.7149 0.6992 174.935 22.4054)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="42.1" height="107.6"/>
			
				<rect x="608.3" y="-470.4" transform="matrix(0.6992 -0.7149 0.7149 0.6992 487.1122 324.6507)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="42.1" height="107.6"/>
			
				<rect x="266.3" y="-354.6" transform="matrix(0.3835 -0.9235 0.9235 0.3835 505.3861 89.9999)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
			
				<rect x="36.5" y="-532.9" transform="matrix(0.5 -0.866 0.866 0.5 488.3792 -177.7334)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
			
				<rect x="503.6" y="-248.2" transform="matrix(0.6992 -0.7149 0.7149 0.6992 298.4322 315.9223)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="42.1" height="103"/>
			
				<rect x="554" y="-731.2" transform="matrix(0.8329 -0.5535 0.5535 0.8329 494.6454 217.716)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
			
				<rect x="251" y="-778.5" transform="matrix(0.7877 -0.6161 0.6161 0.7877 531.4001 26.9753)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
			
				<rect x="355.5" y="-546" transform="matrix(0.5999 -0.8001 0.8001 0.5999 583.7123 117.4598)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
			
				<rect x="251" y="-70.8" transform="matrix(0.7877 -0.6161 0.6161 0.7877 95.3692 177.2535)" clip-path="url(#SVGID_2_)" fill="#CFD4D7" width="107.6" height="42.1"/>
		</g>
	</g>
</pattern>
<g id="background">
	<g>
		
			<pattern  id="SVGID_3_" xlink:href="#Unnamed_Pattern" patternTransform="matrix(4.295000e-02 0 0 -4.295000e-02 -7065.7715 -7020.7271)">
		</pattern>
		<rect x="0.5" y="0" fill="url(#SVGID_3_)" width="480" height="800"/>
		<rect x="0.5" y="0" fill="none" width="480" height="640.8"/>
		<polygon fill="#8DBFC7" points="216,-1 0.5,-1 0,160 480.5,637.7 480.5,263.5 		"/>
	</g>
	<g>
		<rect fill="#192150" width="480" height="69"/>
		<polygon fill="#F4F411" points="292.8,-1 480.5,187.1 480.5,-1 		"/>
		<polygon fill="#CFD4D7" points="296.4,-1 235.7,-1 480.5,242.9 480.5,184.1 		"/>
		<polygon fill="#8DBFC7" points="481,751 0,751 0,160 358.6,160 481,306.5 		"/>
		<polygon fill="#FFFFFF" points="0,467.1 0,800 332.9,800 		"/>
		<polygon fill="#CFD4D7" points="0,490.5 0,800 309.5,800 		"/>
	</g>
</g>
<g id="menu">
	<g>
		
			<line fill="none" stroke="#192150" stroke-width="2.314" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="433.4" y1="20.1" x2="463" y2="20.1"/>
		
			<line fill="none" stroke="#192150" stroke-width="2.314" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="433.4" y1="29.4" x2="463" y2="29.4"/>
		
			<line fill="none" stroke="#192150" stroke-width="2.314" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="433.4" y1="38.7" x2="463" y2="38.7"/>
	</g>
	<text transform="matrix(1 0 0 1 344.2672 38.3867)" fill="#192150" font-family="'AcuminProWide-Light'" font-size="24px">MENU</text>
</g>
<g id="sign_x5F_up_x5F_email">
	<text transform="matrix(1 0 0 1 132.8658 514.0654)" fill="#192150" font-family="'AcuminProWide-Light'" font-size="19.0412px">Sign up with Email</text>
	
		<polyline fill="none" stroke="#192150" stroke-width="1.2467" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
		314.6,513.7 320.2,508.1 314.6,502.4 	"/>
</g>
<g id="logo">
	<rect x="23.1" y="17.7" fill="#FFFFFF" stroke="#CFD4D7" stroke-miterlimit="10" width="32.2" height="32.2"/>
	<polygon fill="#F4F411" points="34.7,49.4 54.8,49.4 54.8,29.3 	"/>
	
		<line fill="none" stroke="#8CBEC6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="59.9" y1="23.6" x2="30.3" y2="53.2"/>
</g>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
<g id="sign_x5F_in_x5F_facebook">
	<g>
		<g>
			
				<rect x="99.5" y="348.3" fill="#FFFFFF" stroke="#3F67C0" stroke-width="2.089" stroke-miterlimit="10" width="271.8" height="47"/>
			<g>
				<rect x="99.5" y="348.3" fill="#3F67C0" width="47" height="47"/>
				<path fill="#FFFFFF" d="M128.7,361.4h-3.6c0,0-4.9-0.4-4.9,4.8c0,1.1,0,2.8,0,2.8h-2.8l0,2.8h2.8l0,11.3h3.7v-11.3h3.7l1.1-2.8
					H124v-2.4c0,0,0-1.4,1.6-1.4h3.1L128.7,361.4z"/>
			</g>
		</g>
	</g>
	<text transform="matrix(1 0 0 1 160.8758 380.7799)" fill="#3F67C0" font-family="'AcuminProWide-Light'" font-size="17.9851px">Sign in with Facebook</text>
</g>
<g id="sign_x5F_in_x5F_google">
	<g>
		
			<rect x="99.5" y="415.7" fill="#FFFFFF" stroke="#EB5B4C" stroke-width="2.089" stroke-miterlimit="10" width="271.8" height="47"/>
	</g>
	<text transform="matrix(1 0 0 1 160.8751 446.2858)" fill="#EB5B4C" font-family="'AcuminProWide-Light'" font-size="17.9851px">Sign in with Google</text>
	<g>
		<rect x="99.5" y="415.7" fill="#EB5B4C" width="47" height="47"/>
		<path fill="#FFFFFF" d="M133.8,433.6v2.9h-1.4v-2.9h-2.8v-1.5h2.8v-3.2h1.4v3.2h2.3v1.5H133.8z M125.8,430.3
			c1.2,0.7,1.8,2.1,1.8,3.6c0,1.4-0.8,2.6-1.9,3.4c-1.1,0.8-1.3,1.2-1.3,1.9c0,0.6,1.3,1.5,1.9,2c2.1,1.6,2.5,2.5,2.5,4.5
			c0,2.6-2.6,4.8-6.9,4.8c-3.7,0-6.9-1.5-6.9-3.9c0-3.7,2.6-5,6.3-5c0.4,0,0.8,0,1.2,0c-0.5-0.5-0.9-0.9-0.9-1.7
			c0-0.4,0.1-0.9,0.3-1.3c-0.2,0-0.4,0-0.6,0c-3.1,0-4.9-2.2-4.9-4.9c0-2.6,2.7-5.1,6-5.1c1.7,0,6.4,0,6.4,0l-1.4,1.5H125.8z
			 M122.1,443c-2.5,0-4.6,1-4.6,2.9c0,2,1.9,3.6,4.4,3.6c3.6,0,4.9-1.5,4.9-3.5c0-0.2,0-0.5-0.1-0.7C125.8,443,123,443,122.1,443z
			 M125,434.1c-0.3-2.3-1.2-4.2-2.9-4.2c-1.7-0.1-3.5,1.7-3.2,4c0.3,2.3,1.9,3.9,3.7,3.9C124.3,437.8,125.3,436.3,125,434.1z"/>
	</g>
</g>
<text id="login_1_" transform="matrix(1 0 0 1 123.0386 298.4336)" fill="#FFFFFF" font-family="'AcuminProWide-Light'" font-size="64.3543px">LOGIN</text>
<text transform="matrix(1 0 0 1 68.3751 49.3594)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'AcuminProWide-Thin'" font-size="41.0573px">C</tspan><tspan x="31.2" y="0" fill="#FFFFFF" font-family="'AcuminProWide-Thin'" font-size="41.0573px" letter-spacing="-1">U</tspan><tspan x="60.9" y="0" fill="#FFFFFF" font-family="'AcuminProWide-Thin'" font-size="41.0573px">S</tspan><tspan x="87.5" y="0" fill="#FFFFFF" font-family="'AcuminProWide-Thin'" font-size="41.0573px" letter-spacing="-2">P</tspan></text>
</svg>
</body>